<!-- <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="4">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <h1>Đăng nhập</h1>
                <p class="text-medium-emphasis">
                  Hệ thống quản lý hồ sơ bệnh án
                </p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    autoComplete="username"
                    cFormControl
                    placeholder="Tên tài khoản"
                  />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Mật khẩu"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary">
                      Đăng nhập
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Quên mật khẩu?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div> -->


<div class="login">
  <div class="frmlogin">
    <h5 class="title">HỆ THỐNG QUẢN LÝ</h5>
    <div class="hr">
      <span>Đăng nhập hệ thống</span>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-ground">
        <label for="username">Tên tài khoản</label>
        <div class="fieldset">
          <i class="fas fa-envelope"></i>
          <input
            formControlName="username"
            id="username"
            type="text"
            name="username"
            placeholder="Tên tài khoản"
            class="form-control"
          />
        </div>
      </div>
      <div
        *ngIf="
          loginFormControl['username'].touched &&
          loginFormControl['username'].invalid
        "
        class="alert-danger"
      >  
        <div
          *ngIf="
            loginFormControl['username'].errors &&
            loginFormControl['username'].errors['required']
          "
        >
          Bắt buộc nhập tên tài khoản.
        </div>
        <div
          *ngIf="
            loginFormControl['username'].errors &&
            loginFormControl['username'].errors['minlength']
          "
        >
          Tên tài khoản dài ít nhất 3 ký tự.
        </div>
      </div>
      <div class="form-ground">
        <label for="">Mật khẩu</label>
        <div class="fieldset">
          <i class="fas fa-key"></i>
          <input
            formControlName="password"
            id="password"
            type="password"
            name="password"
            placeholder="Mật khẩu"
            class="form-control"
            autocomplete="current-password"
          />
        </div>
      </div>
      <div
        *ngIf="
          loginFormControl['password'].touched &&
          loginFormControl['password'].invalid
        "
        class="alert-danger"
      >
        <div
          *ngIf="
            loginFormControl['password'].errors &&
            loginFormControl['password'].errors['required']
          "
        >
          Bắt buộc nhập mật khẩu.
        </div>
        <div
          *ngIf="
            loginFormControl['password'].errors &&
            loginFormControl['password'].errors['minlength']
          "
        >
          Mật khẩu dài ít nhất 3 ký tự.
        </div>
      </div>
      <div class="button-login">
        <button type="submit" class="btn" [disabled]="!loginForm.valid">
          <i class="fas fa-sign-in-alt"> Đăng nhập </i>
        </button>
      </div>
    </form>
    <div class="row pt-2">
      <div class="col-md-6">
        <div class="forgot">
          <a class="forgot-pass" [routerLink]="['/forgot-password']">
            Quên mật khẩu
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="forgot">
          <a [routerLink]="['/register']"> Đăng ký </a>
        </div>
      </div>
    </div>
  </div>
</div>