<div class="head">
  <h3 class="title">Thêm mới bệnh án</h3>
</div>
<div class="main">
  <form cForm class="row g-3">
    <c-col [xs]="6">
      <label cLabel for="inputEmail4">Sở Y tế <small>(*)</small></label>
      <input cFormControl id="inputEmail4" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputPassword4">Bệnh viện <small>(*)</small></label>
      <input cFormControl id="inputPassword4" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputState">Khoa phòng <small>(*)</small></label>
      <select cSelect id="inputState">
        <option>Chọn khoa phòng</option>
        <option>...</option>
      </select>
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress">Sổ lưu trữ <small>(*)</small></label>
      <input cFormControl id="inputAddress" type="text" />
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2"
        >Bác sĩ làm bệnh án <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2"
        >Nhân viên lưu trữ <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2">Trạng thái <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2">Họ và tên <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Tuổi <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Ngày sinh <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Giới tính <small>(*)</small></label>
      <select cSelect id="inputAddress2">
        <option>Chọn giới tính</option>
        <option>Nam</option>
        <option>Nữ</option>
      </select>
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Nghề nghiệp <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Dân tộc <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Quốc tịch <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2">Địa chỉ <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2">Nơi làm việc <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2"
        >Bảo hiểm có giá trị <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2"
        >Số thẻ bảo hiểm y tế <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2"
        >Họ và tên người nhà <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2">Số điện thoại <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2">Bệnh lý <small>(*)</small></label>
      <textarea cFormControl id="inputAddress2" type="text"></textarea>
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2"
        >Quá trình bệnh lý <small>(*)</small></label
      >
      <textarea cFormControl id="inputAddress2" type="text"></textarea>
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2"
        >Thời gian vào viện <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2">Trực tiếp vào <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2"
        >Nơi giới thiệu <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2">Vào khoa <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2">Chuyển viện <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2">Chuyển đến <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2">Ra viện <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2"
        >Số ngày điều trị <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Tuần hoàn <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Hô hấp <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Tiêu hoá <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2"
        >Thận tiết niệu sinh dục <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Thần kinh <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Cơ xương khớp <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Tai mũi họng <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Răng hàm mặt <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputAddress2">Mắt <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2"
        >Xét nghiệm cận lâm sàn <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2"
        >Giải phẫu bệnh <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2"
        >Tóm tắt bệnh án <small>(*)</small></label
      >
      <textarea cFormControl id="inputAddress2" type="text"></textarea>
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2"
        >Kết quả điều trị <small>(*)</small></label
      >
      <textarea cFormControl id="inputAddress2" type="text"></textarea>
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2"
        >Phương pháp điều trị <small>(*)</small></label
      >
      <textarea cFormControl id="inputAddress2" type="text"></textarea>
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2"
        >Tình trạng người bệnh ra viện <small>(*)</small></label
      >
      <textarea cFormControl id="inputAddress2" type="text"></textarea>
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2"
        >Hướng điều trị và các chế độ tiếp theo <small>(*)</small></label
      >
      <textarea cFormControl id="inputAddress2" type="text"></textarea>
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2"
        >Khám nghiệm tử thi <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2"
        >Thời gian tử vong <small>(*)</small></label
      >
      <input cFormControl id="inputAddress2" type="text" />
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2"
        >Nguyên nhân tử vong <small>(*)</small></label
      >
      <textarea cFormControl id="inputAddress2" type="text"></textarea>
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2"
        >Chuẩn đoán giải phẫu tử thi <small>(*)</small></label
      >
      <textarea cFormControl id="inputAddress2" type="text"></textarea>
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2"
        >Quá trình bệnh lý và diễn biến lâm sàng <small>(*)</small></label
      >
      <textarea cFormControl id="inputAddress2" type="text"></textarea>
    </c-col>
    <c-col [md]="12">
      <label cLabel for="inputAddress2"
        >Tóm tắt kết quả xét nghiệm cận lâm sàng <small>(*)</small></label
      >
      <textarea cFormControl id="inputAddress2" type="text"></textarea>
    </c-col>
    <c-col [xs]="12" class="button">
      <button cButton type="submit">Thêm mới</button>
    </c-col>
  </form>
</div>
