<h1 mat-dialog-title>Chỉnh sửa thông tin</h1>
<div mat-dialog-content>
  <form cForm class="row g-3">
    <c-col [xs]="12">
      <label cLabel for="inputEmail4">Họ và tên <small>(*)</small></label>
      <input cFormControl id="inputEmail4" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputPassword4">Tên hiển thị <small>(*)</small></label>
      <input cFormControl id="inputPassword4" type="text" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress">Email <small>(*)</small></label>
      <input cFormControl id="inputAddress" type="email" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputAddress2">Mật khẩu <small>(*)</small></label>
      <input cFormControl id="inputAddress2" type="password" />
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputState">Khoa phòng <small>(*)</small></label>
      <select cSelect id="inputState">
        <option>Chọn khoa phòng</option>
        <option>...</option>
      </select>
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputState">Vị trí <small>(*)</small></label>
      <select cSelect id="inputState">
        <option>Chọn vị trí</option>
        <option>...</option>
      </select>
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputState">Quyền <small>(*)</small></label>
      <select cSelect id="inputState">
        <option>Chọn quyền</option>
        <option>...</option>
      </select>
    </c-col>
    <c-col [xs]="12" class="button">
      <button cButton type="submit">Thêm mới</button>
    </c-col>
  </form>
</div>
